* {
    margin: 5px;
}
form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #B1DDEA;
    margin: 0;
}
button {
    font-size: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 0;
}
input, textarea {
    font-size: 100%;
    border: 1px solid black;
    border-radius: 5px;
}